/* body {
  font-family: Arial, sans-serif;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  display: flex;
}

.shape {
  margin-right: 10px;
}

#Radius {
  display: none;
} */
